# Copyright (c) 2022 MobileCoin Inc.
name: ci

on:
  pull_request: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: write
  contents: read

jobs:
  lint-shell:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Run shellcheck with reviewdog
      uses: reviewdog/action-shellcheck@v1
      with:
        fail_on_error: true
        reporter: github-pr-review

  lint-actions:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Run actionlint with reviewdog
      uses: reviewdog/action-actionlint@v1
      with:
        fail_on_error: true
        reporter: github-pr-review

  # Have one noop job at the end that passes if all the other checks pass.
  # This is so we can just have one "standard" check to add to the branch protections.
  workflow-ok:
    needs:
    - lint-shell
    - lint-actions
    runs-on: ubuntu-24.04
    steps:
    - name: All Checks OK!
      run: |
        true
