# Copyright (c) 2022 MobileCoin Inc.
name: ci

on:
  pull_request: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: write
  contents: read

jobs:
  lint-shell:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Run shellcheck with reviewdog
      uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
      with:
        fail_level: error
        reporter: github-pr-review

  lint-actions:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Run actionlint with reviewdog
      uses: reviewdog/action-actionlint@e58ee9d111489c31395fbe4857b0be6e7635dbda # v1.70.0
      with:
        fail_level: error
        reporter: github-pr-review

  # Have one noop job at the end that passes if all the other checks pass.
  # This is so we can just have one "standard" check to add to the branch protections.
  workflow-ok:
    needs:
    - lint-shell
    - lint-actions
    runs-on: ubuntu-24.04
    steps:
    - name: All Checks OK!
      run: |
        true
