# Copyright (c) 2022 MobileCoin Inc.
name: release

on:
  push:
    tags:
    - 'v*.*.*'

permissions:
  contents: write

jobs:
  gh-release:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Create a GitHub Release
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
      with:
        generate_release_notes: true
