# Copyright (c) 2022 MobileCoin Inc.
name: release

on:
  push:
    tags:
    - 'v*.*.*'

permissions:
  contents: write

jobs:
  gh-release:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Create a GitHub Release
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
      with:
        generate_release_notes: true
